<!DOCTYPE html>
<html lang="en">
<head>
    <title>Existing WiFi Vouchers</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui">

    <meta name="description" content="UniFi Voucher">
    <meta name="author" content="Glenn de Haan">

    <meta property="og:title" content="Voucher | UniFi Voucher"/>
    <meta property="og:type" content="website"/>
    <meta property="og:description" content="UniFi Voucher"/>

    <link rel="manifest" href="/manifest.json">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link rel="apple-touch-icon" href="/images/icon/logo_256x256.png">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="theme-color" content="#1875b6">

    <link rel="preload" href="/dist/style.css" as="style">
    <link href="/dist/style.css" rel="stylesheet">
</head>
<body class="bg-white dark:bg-neutral-900 dark:text-gray-100 h-screen">
<div class="w-full flex flex-wrap">
    <div class="w-full flex flex-col">
        <div class="text-center flex flex-col flex flex-col pt-4">
            <p>
                <a href="/" class="underline font-semibold">Back</a>
            </p>
        </div>

        <div class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-8 px-8 md:px-24 lg:px-32">
            <p class="text-center text-3xl"><%= app_header %></p>

            <div class="relative overflow-x-auto pt-4 md:pt-4">
                <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>
                        <th scope="col" class="px-6 py-3">
                            Code
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Expiration
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Type
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Data Limit
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Download Limit
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Upload Limit
                        </th>
                        <th scope="col" class="px-6 py-3">
                        </th>
                    </tr>
                    </thead>
                    <tbody>

                    <% vouchers.forEach(function(voucher) { %>
                        <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700">
                            <th scope="row"
                                class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                <%= voucher.code %>
                            </th>
                            <td class="px-6 py-4">
                                <%= voucher.duration %>
                            </td>
                            <td class="px-6 py-4">
                                <%= voucher.type %>
                            </td>
                            <td class="px-6 py-4">
                                <%= voucher.usage_quota %>
                            </td>
                            <td class="px-6 py-4">
                                <%= voucher.download_limit %>
                            </td>
                            <td class="px-6 py-4">
                                <%= voucher.upload_limit %>
                            </td>
                            <td class="px-6 py-4">

                                <button type="button" data-id="<%= voucher.id %>" title="revoke"
                                        class="revoke-button text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm p-2.5 text-center inline-flex items-center me-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                                    <svg class="w-[16px] h-[16px] text-gray-800 dark:text-white" aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 20">
                                        <path d="M17 4h-4V2a2 2 0 0 0-2-2H7a2 2 0 0 0-2 2v2H1a1 1 0 0 0 0 2h1v12a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V6h1a1 1 0 1 0 0-2ZM7 2h4v2H7V2Zm1 14a1 1 0 1 1-2 0V8a1 1 0 0 1 2 0v8Zm4 0a1 1 0 0 1-2 0V8a1 1 0 0 1 2 0v8Z"/>
                                    </svg>
                                </button>

                            </td>
                        </tr>
                    <% }); %>

                    </tbody>
                </table>
            </div>
        </div>

        <% if(showFooter === true) { %>
            <div class="text-center text-gray-400 text-sm italic pt-12 pb-12">
                <p>
                    Powered by: McTristan, with ideas and work of <a href="https://glenndehaan.com"
                                                                     class="underline font-semibold">Glenn de
                        Haan</a>.<br/>
                    Want your own portal? Checkout the project on: <a
                            href="https://github.com/mctristan/unifi-voucher-site" class="underline font-semibold">GitHub</a>
                    (fork of: <a href="https://github.com/glenndehaan/unifi-voucher-site"
                                 class="underline font-semibold">GitHub</a>)
                </p>
                <p class="text-[10px] not-italic">
                    SID: <%= sid %>
                </p>
            </div>
        <% } %>
    </div>

</div>
</body>
<script type="application/javascript">

    document.addEventListener("DOMContentLoaded", function () {
        const revokeButtons = document.querySelectorAll('button.revoke-button');

        revokeButtons.forEach(el => el.addEventListener('click', event => {
            let id = event.target.getAttribute('data-id');
            if (id === undefined || id == null) {
                id = event.target.parent.getAttribute('data-id');
            }
            revokeVoucher(id);
        }));
    });

    function revokeVoucher(id) {

        fetch(`/revoke?id=${id}`)
            .then(function (response) {
                if (response.status >= 400) {
                    console.log(
                        'Looks like there was a problem. Status Code: ' + response.status
                    );
                    return;
                }
                location.reload();
            })
            .catch(function (err) {
                console.log('Fetch Error :-S', err);
            });
    }
</script>
</html>
